body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 5px;
}
