$box-width: 80%;
$background-color: #fafbff;
$main-color: #fcebbb;
$dark-secondary: #3834b2;
$light-secondary: #bac9fd;

body {
  background-color: $background-color;
}

header {
  display: flex;
  justify-content: space-between;
  width: $box-width;
  margin-inline: auto;
  margin-top: 52px;

  svg {
    width: 100px;
    height: auto;
  }

  nav {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      text-align: right;
      padding: 0;

      @media screen and (min-width: 916px) {
        flex-direction: row;
        justify-content: space-between;
      }

      li {
        margin-bottom: 16px;

        @media screen and (min-width: 916px) {
          margin-bottom: 0;
          margin-left: 16px;
        }
      }

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          cursor: pointer;
          font-weight: 600;
          color: $dark-secondary;
        }
      }
    }
  }
}

main {
  width: $box-width;
  max-width: 1024px;
  margin: 64px auto;

  .drinks,
  .brewing-methods {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 916px) {
      margin-bottom: 100px;
    }
  }

  .intro {
    margin-bottom: 32px;
    max-width: 432px;
  }

  .drinks {
    // max-width: 1024px;
    margin-inline: auto;

    article.recipe-card {
      display: flex;
      flex-direction: column;

      .options {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;

        @media screen and (min-width: 916px) {
          margin-bottom: 0;
        }

        label {
          margin-bottom: 6px;
        }

        select {
          // reset
          background-color: transparent;
          border: none;
          padding: 0 1rem 0 0;
          margin: 0;
          width: 100%;
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          cursor: inherit;
          line-height: inherit;

          display: flex;
          min-width: 15ch;
          border: 2px solid black;
          border-radius: 10px;
          padding: 0.25rem 0.5rem;
          font-size: 1rem;
          cursor: pointer;
          line-height: 1.1;
          background-color: #fff;
          max-width: 26ch;

          &::-ms-expand {
            display: none;
          }
        }
      }

      .card-wrapper {
        display: grid;
        grid-template-rows: auto;
        gap: 32px;
        justify-items: center;

        @media screen and (min-width: 916px) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 450px auto;
          grid-template-areas:
            "image info"
            "buttons buttons";
          gap: 32px;
        }

        .coffee-img {
          width: 300px;
          height: 300px;
          border: 2px solid $dark-secondary;

          @media screen and (min-width: 916px) {
            grid-area: image;
            align-self: center;
          }

          svg {
            margin-inline: auto;
          }
        }

        .card-info {
          margin: 32px auto 0;
          max-width: 60ch;
          min-height: 400px;

          @media screen and (min-width: 916px) {
            grid-area: info;
            align-self: center;
            min-height: auto;
          }

          h2 {
            font-size: 1.25rem;
            font-weight: 600;
            width: max-content;
            margin-right: 12px;
          }

          p {
            margin-bottom: 10px;
          }
        }

        .scroll-buttons {
          display: flex;
          justify-content: space-between;
          width: 150px;

          @media screen and (min-width: 916px) {
            grid-area: buttons;
          }

          button {
            background-color: transparent;
            border: none;
            border-radius: 50%;
            height: 50px;
            width: 50px;

            border: 3px solid $dark-secondary;
            background-color: $light-secondary;
            box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.643);
            color: $dark-secondary;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 600;
            text-align: center;

            &:active {
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  .brewing-methods {
    &-wrapper {
      display: grid;
      grid-template-rows: auto;
      gap: 32px;
      margin: 32px auto;

      @media screen and (min-width: 600px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }

      .brew-info {
        border: 3px solid $dark-secondary;
        border-radius: 10px;
        background-color: $light-secondary;
        padding: 32px 24px;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $main-color;
  width: 100%;
  margin-inline: auto;
  padding: 32px;
  margin-top: auto;

  a {
    color: $dark-secondary;
    font-weight: 600;
  }

  div:last-of-type {
    min-width: 300px;
    max-width: 60%;
    margin-top: 32px;
  }
}

.no-match {
  width: 80%;
  margin-inline: auto;
  margin-top: 64px;

  p {
    font-size: 1.125rem;
  }
}

.active-link {
  background-color: $main-color;
  color: $dark-secondary;
  padding: 2px;
  font-weight: 600;
}
