/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf"), format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf"), format("ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
.no-match h1 {
  font-size: clamp(1.5rem, 2vw + 1rem, 4rem);
  font-weight: 600;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-inline: auto;
  margin-top: 2rem;
}
header nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: right;
}
header nav ul li {
  margin-bottom: 10px;
}
header nav ul a {
  text-decoration: none;
  color: inherit;
}
header nav ul a:hover {
  cursor: pointer;
  font-weight: 600;
}

main {
  width: 90%;
  max-width: 1080px;
  margin-inline: auto;
  margin-top: 4rem;
}
main .drinks,
main .brewing-methods {
  display: flex;
  flex-direction: column;
}
main .drinks {
  max-width: 916px;
  margin-inline: auto;
}
main .drinks .intro {
  margin-bottom: 2rem;
  max-width: 400px;
}
main .drinks article.recipe-card {
  display: flex;
  flex-direction: column;
}
main .drinks article.recipe-card .options {
  display: flex;
  flex-direction: column;
  margin: 16px 0 32px;
  width: max-content;
  margin-inline: auto;
}
main .drinks article.recipe-card .options label {
  margin-bottom: 6px;
}
main .drinks article.recipe-card .options select {
  background-color: transparent;
  border: none;
  padding: 0 1rem 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  display: flex;
  min-width: 15ch;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  max-width: 20ch;
}
main .drinks article.recipe-card .options select::-ms-expand {
  display: none;
}
main .drinks article.recipe-card .card-wrapper {
  display: grid;
  grid-template-rows: auto;
  gap: 32px;
  justify-items: center;
}
@media screen and (min-width: 916px) {
  main .drinks article.recipe-card .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px auto;
    grid-template-areas: "image info" "buttons buttons";
    gap: 60px 32px;
  }
}
@media screen and (min-width: 916px) {
  main .drinks article.recipe-card .card-wrapper .card-image {
    grid-area: image;
    align-self: center;
  }
}
main .drinks article.recipe-card .card-wrapper .card-image svg {
  margin-inline: auto;
}
main .drinks article.recipe-card .card-wrapper .card-info {
  border: 2px solid black;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 2rem;
  margin-inline: auto;
  max-width: 60ch;
}
@media screen and (min-width: 916px) {
  main .drinks article.recipe-card .card-wrapper .card-info {
    grid-area: info;
  }
}
main .drinks article.recipe-card .card-wrapper .card-info h1,
main .drinks article.recipe-card .card-wrapper .card-info h2 {
  margin-bottom: 5px;
}
main .drinks article.recipe-card .card-wrapper .card-info h2 {
  display: inline;
  width: max-content;
  margin-right: 12px;
}
main .drinks article.recipe-card .card-wrapper .card-info p:not(:first-of-type) {
  display: inline;
}
main .drinks article.recipe-card .card-wrapper .scroll-buttons {
  position: sticky;
  bottom: 32px;
}
@media screen and (min-width: 916px) {
  main .drinks article.recipe-card .card-wrapper .scroll-buttons {
    grid-area: buttons;
  }
}

.no-match {
  width: 80%;
  margin-inline: auto;
  margin-top: 4rem;
}

.active-link {
  background-color: hsl(50deg, 97%, 74%);
  padding: 5px 10px;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
